<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Song Adder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="headerdiv">
        <img src="{{ url_for('static', filename='image/spotify_logo.png') }}" alt="Spotify Logo" id="spotify_logo" class="header">
        <h1 id="title" class="header">Spotify Song Adder</h1>
    </div>
    <p id="powered_by">Powered by OpenAI</p>
    <a href="/login">Log in with Spotify</a>

    <script></script>
</body>
</html>